<template>

    <container>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Posts
            </h2>
            <div class="">
                <action href="" tag="inertia-link">
                    Create
                </action>
            </div>
        </template>
        <!-- Table -->
        <div class="md:container mx-auto px-4 sm:px-8">

            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <DataTable :data="posts" :columns="columns">
                </DataTable>
            </div>
<!--            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">-->
<!--                <div class="flex items-center">-->
<!--                    <div class="flex-shrink-0 w-10 h-10">-->
<!--                        <img alt=""-->
<!--                             class="w-full h-full rounded-full"-->
<!--                             src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"/>-->
<!--                    </div>-->
<!--                    <div class="ml-3">-->
<!--                        <p class="text-gray-900 whitespace-no-wrap">-->
<!--                            {{ item.title }}-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">-->
<!--                <p class="text-gray-900 whitespace-no-wrap">{{ item.type?.name }}</p>-->
<!--            </td>-->
<!--            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">-->

<!--                                                       <span-->
<!--                                                           class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">-->
<!--                                            <span aria-hidden-->
<!--                                                  class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>-->
<!--                                            <span class="relative">-->
<!--                                                 {{ item.published ? 'Published' : 'Unpublished' }}-->
<!--                                            </span>-->
<!--                                        </span>-->
<!--            </td>-->
<!--            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">-->

<!--                &lt;!&ndash; test &ndash;&gt;-->

<!--                <Menu as="div" class="relative inline-block text-left">-->
<!--                    <div>-->
<!--                        <MenuButton-->
<!--                            class="inline-flex justify-center h-8 w-8 text-sm font-medium text-gray-500  rounded-full items-center bg-black bg-opacity-0 hover:bg-opacity-20 hover:color-white focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"-->
<!--                        >-->
<!--                            <Icon>-->
<!--                                <DropdownIcon/>-->
<!--                            </Icon>-->
<!--                        </MenuButton>-->
<!--                    </div>-->

<!--                    <transition-->
<!--                        enter-active-class="transition duration-100 ease-out"-->
<!--                        enter-from-class="transform scale-95 opacity-0"-->
<!--                        enter-to-class="transform scale-100 opacity-100"-->
<!--                        leave-active-class="transition duration-75 ease-in"-->
<!--                        leave-from-class="transform scale-100 opacity-100"-->
<!--                        leave-to-class="transform scale-95 opacity-0"-->
<!--                    >-->
<!--                        <MenuItems-->
<!--                            class="absolute bg-white z-10 right-0 w-56 mt-2 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"-->
<!--                        >-->
<!--                            <div class="px-1 py-1">-->
<!--                                <MenuItem v-slot="{ active }">-->
<!--                                    <button-->
<!--                                        :class="[-->
<!--                  active ? 'bg-indigo-700 text-white' : 'text-gray-900',-->
<!--                  'group flex rounded-md items-center w-full px-2 py-2 text-sm',-->
<!--                ]"-->
<!--                                    >-->
<!--                                        <Icon>-->
<!--                                            <EditIcon/>-->
<!--                                        </Icon>-->
<!--                                        Edit-->
<!--                                    </button>-->
<!--                                </MenuItem>-->
<!--                                <MenuItem v-slot="{ active }">-->
<!--                                    <button-->
<!--                                        :class="[-->
<!--                  active ? 'bg-indigo-700 text-white' : 'text-gray-900',-->
<!--                  'group flex rounded-md items-center w-full px-2 py-2 text-sm',-->
<!--                ]"-->
<!--                                    >-->
<!--                                        <Icon>-->
<!--                                            <CopyIcon/>-->
<!--                                        </Icon>-->
<!--                                        Duplicate-->
<!--                                    </button>-->
<!--                                </MenuItem>-->
<!--                            </div>-->

<!--                            <div class="px-1 py-1">-->
<!--                                <MenuItem v-slot="{ active }">-->
<!--                                    <button-->
<!--                                        :class="[-->
<!--                  active ? 'bg-indigo-700 text-white' : 'text-gray-900',-->
<!--                  'group flex rounded-md items-center w-full px-2 py-2 text-sm',-->
<!--                ]"-->
<!--                                    >-->
<!--                                        <Icon>-->
<!--                                            <DeleteIcon/>-->
<!--                                        </Icon>-->
<!--                                        Delete-->
<!--                                    </button>-->
<!--                                </MenuItem>-->
<!--                            </div>-->
<!--                        </MenuItems>-->
<!--                    </transition>-->
<!--                </Menu>-->


<!--            </td>-->
        </div>
    </container>
</template>

<script>
import AuthenticatedLayout from "@/Layouts/Authenticated";
import Container from "@/Components/Container";
import Action from "@/Components/Action";
import DataTable from "@/Components/DataTable";

const columns = 
    { title: 'Title', type: 'Type' }

export default {
    name: "Index",
    props: ['posts'],
    components: {
        DataTable, Action, Container},
    layout: AuthenticatedLayout,
    setup() {
        return {
            columns,
        }
    }
}
</script>

