<template>
<!--    <breeze-authenticated-layout>-->
<!--        <template #header>-->
<!--            <h2 class="font-semibold text-xl text-gray-800 leading-tight">-->
<!--                Dashboard-->
<!--            </h2>-->
<!--        </template>-->

<!--        <div class="py-12">-->
<!--            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">-->
<!--                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">-->
<!--                    <div class="p-6 bg-white border-b border-gray-100">-->
<!--                        You're logged in!-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </breeze-authenticated-layout>-->
</template>

<script>
    import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'

    export default {
        props:['can'],
        components: {
            BreezeAuthenticatedLayout,
        },
        mounted () {
            console.log(this.permissions)
        },
        computed: {
            permissions() {
                return this.can.test_can
            }
        }
    }
</script>
