<template>
    <component :is="tag" :type="type" class="inline-flex items-center px-4 py-2 bg-black border border-transparent rounded-full font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-800 hover:shadow-md active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray focus:ring-2 focus:ring-indigo-500 transition ease-in-out duration-150">
        <slot></slot>
    </component>
</template>

<script>
export default {
    name: "Action",
    props: {
        tag: {
            default: "button",
            type: String
        },
        type: {
            default: "button",
            type: String
        }
    },
}
</script>

<style scoped>

</style>
