<template>
    <teleport v-if="isMounted" to="#page-header">
        <slot name="header"></slot>
    </teleport>

    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="py-6 lg:px-6  bg-gray-200 border-b border-gray-100">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Container",
    data() {
        return {
            isMounted: false
        }
    },
    mounted() {
        this.isMounted = true
    },
}

</script>

<style scoped>

</style>
