<template>
    <div class="bg-white block">
        <div class="prose block px-4" id="editorjs" style="max-width: 100%"></div>
    </div>
</template>

<script>
import EditorJS from "@editorjs/editorjs";
import Header from "@editorjs/header";
import ImageTool from '@editorjs/image';

export default {
    name: "Editor",
    mounted() {
        this.loadEditor()
    },
    methods: {
        loadEditor() {
            window.editor = new EditorJS({
                /**
                 * Id of Element that should contain the Editor
                 */
                holder: 'editorjs',

                /**
                 * Available Tools list.
                 * Pass Tool's class or Settings object for each Tool you want to use
                 */
                tools: {
                    header: {
                        class: Header,
                        inlineToolbar: ['link'],
                        config: {
                            placeholder: 'Enter a header',
                            levels: [2, 3, 4],
                            defaultLevel: 3
                        }
                    },
                    image: {
                        class: ImageTool,
                        config: {
                            endpoints: {
                                byFile: 'http://localhost:8008/uploadFile', // Your backend file uploader endpoint
                                byUrl: 'http://localhost:8008/fetchUrl', // Your endpoint that provides uploading by Url
                            }
                        }
                    }
                },
            })

        }
    }

}
</script>

<style>
.ce-block__content,
.ce-toolbar__content {
    max-width: 1000px;  /* example value, adjust for your own use case */
}
</style>
