<template>
    <div v-if="editor" :class="[editorClasses, focusClasses]">
        <bubble-menu
            class="bubble-menu"
            :tippy-options="{ duration: 100 }"
            :editor="editor"
            v-if="editor"
        >
            <button @click="editor.chain().focus().toggleBold().run()" :class="{ 'is-active': editor.isActive('bold') }">
                Bold
            </button>
            <button @click="editor.chain().focus().toggleItalic().run()" :class="{ 'is-active': editor.isActive('italic') }">
                Italic
            </button>
            <button @click="editor.chain().focus().toggleStrike().run()" :class="{ 'is-active': editor.isActive('strike') }">
                Strike
            </button>
        </bubble-menu>

        <floating-menu
            class="floating-menu"
            :tippy-options="{ duration: 100 }"
            :editor="editor"
            v-if="editor"
        >
            <button @click="editor.chain().focus().toggleHeading({ level: 1 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }">
                H1
            </button>
            <button @click="editor.chain().focus().toggleHeading({ level: 2 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }">
                H2
            </button>
            <button @click="editor.chain().focus().toggleBulletList().run()" :class="{ 'is-active': editor.isActive('bulletList') }">
                Bullet List
            </button>
        </floating-menu>

        <!--        <div class="mb-2">-->
<!--            <button-->
<!--                class="p-2"-->
<!--                type="button"-->
<!--                @click="editor.chain().focus().toggleBold().run()"-->
<!--                :class="{ 'bg-gray-100': editor.isActive('bold') }"-->
<!--            >-->
<!--                <icon>-->
<!--                  <bold></bold>-->
<!--                </icon>-->
<!--            </button>-->
<!--            <button-->
<!--                class="p-2"-->
<!--                type="button"-->
<!--                @click="editor.chain().focus().toggleItalic().run()"-->
<!--                :class="{ 'bg-gray-100': editor.isActive('italic') }"-->
<!--            >-->
<!--                <icon>-->
<!--                    <italic></italic>-->
<!--                </icon>-->
<!--            </button>-->
<!--        </div>-->
        <div >
            <editor-content :editor="editor" />
        </div>
    </div>
</template>

<script>
import {   Editor,
    EditorContent,
    BubbleMenu,
    FloatingMenu,} from '@tiptap/vue-3';
import StarterKit from '@tiptap/starter-kit';
import { Icon } from '@vicons/utils'
import {Bold, Italic} from "@vicons/tabler";

import { computed } from 'vue';
import { usePage } from '@inertiajs/inertia-vue3';

export default {
    components: {
        Icon,
        Bold,
        Italic,
        EditorContent,
        BubbleMenu,
        FloatingMenu,
    },

    props: {
        modelValue: {
            type: String,
            default: '',
        },
        overrideRtl: {
            type: Boolean,
            default: false,
        },
    },

    data() {
        return {
            editor: null,
            isFocused: false,
            editorClasses: ['h-64 p-4 overflow-y border rounded'],
            focusClasses: [],
        };
    },

    watch: {
        modelValue(value) {
            const isSame = this.editor.getHTML() === value;

            if (isSame) {
                return;
            }

            this.editor.commands.setContent(this.modelValue, false);
        },
    },

    mounted() {
        this.editor = new Editor({
            content: this.modelValue,
            extensions: [StarterKit],
            onFocus: () => {
                this.focusClasses = ['ring border-blue-500'];
            },
            onBlur: () => {
                this.focusClasses = ['border-gray-300'];
            },
            onUpdate: () => {
                this.$emit('update:modelValue', this.editor.getHTML());
            },
        });
    },

    beforeUnmount() {
        this.editor.destroy();
    },
};
</script>

<style>
.rtl {
    direction: rtl;
}
</style>
