<template>
    <div>
        <div class="min-h-screen bg-gray-200">
            <main-navbar />

            <!-- Page Heading -->
            <header>
                <div id="page-header" class="flex justify-between max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

                </div>
            </header>

            <!-- Page Content -->
            <main>
                <slot />
            </main>
        </div>
    </div>
</template>

<script>
import MainNavbar from "@/Components/MainNavbar";

export default {
        components: {
            MainNavbar,

        },

        data() {
            return {
                showingNavigationDropdown: false,
            }
        },
    }
</script>
